version: "3.7"
services:
  camera:
     container_name: camera 
     image: armindocachada/tensorflow2-opencv4-raspberrypi4:2.2_4.5.0
     network_mode: host
     restart: always
     volumes:
        - /dev/bus/usb:/dev/bus/usb
        - /opt/vc:/opt/vc
        - ./python:/app
        - /tmp/.X11-unix:/tmp/.X11-unix
     environment:
        LD_LIBRARY_PATH: /opt/vc/lib
        DISPLAY:
     devices:
        - "/dev/vchiq:/dev/vchiq"
     privileged: true
